# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



target
.idea
test
.DS_Store
*/.DS_Store


.idea/LibraryOs.iml
.idea/checkstyle-idea.xml
1.xls
ImgTemp/
ImgUpload/
target/classes/META-INF/
target/classes/cn/work/controller/BookController$1.class
target/classes/cn/work/controller/ExcelController.class
target/classes/cn/work/controller/ReminderController.class
target/classes/cn/work/dao/BooktypeMapper.class
target/classes/cn/work/dao/BorrowedbooksMapper.class
target/classes/cn/work/dao/InventoryMapper.class
target/classes/cn/work/interceptors/UserLoginInterceptor.class
target/classes/cn/work/pojo/BookExcel.class
target/classes/cn/work/pojo/Booktype.class
target/classes/cn/work/pojo/BooktypeExample$Criteria.class
target/classes/cn/work/pojo/BooktypeExample$Criterion.class
target/classes/cn/work/pojo/BooktypeExample$GeneratedCriteria.class
target/classes/cn/work/pojo/BooktypeExample.class
target/classes/cn/work/pojo/Borrowedbooks.class
target/classes/cn/work/pojo/BorrowedbooksExample$Criteria.class
target/classes/cn/work/pojo/BorrowedbooksExample$Criterion.class
target/classes/cn/work/pojo/BorrowedbooksExample$GeneratedCriteria.class
target/classes/cn/work/pojo/BorrowedbooksExample.class
target/classes/cn/work/pojo/BorrowedbooksKey.class
target/classes/cn/work/pojo/DataTablePage$ColumnsBean$SearchBeanX.class
target/classes/cn/work/pojo/DataTablePage$ColumnsBean.class
target/classes/cn/work/pojo/DataTablePage$OrderBean.class
target/classes/cn/work/pojo/DataTablePage$SearchBean.class
target/classes/cn/work/pojo/DataTablePage.class
target/classes/cn/work/pojo/Error.class
target/classes/cn/work/pojo/ExcelResult.class
target/classes/cn/work/pojo/Inventory.class
target/classes/cn/work/pojo/InventoryExample$Criteria.class
target/classes/cn/work/pojo/InventoryExample$Criterion.class
target/classes/cn/work/pojo/InventoryExample$GeneratedCriteria.class
target/classes/cn/work/pojo/InventoryExample.class
target/classes/cn/work/pojo/Profile.class
target/classes/cn/work/pojo/ReminderInfo.class
target/classes/cn/work/pojo/UserExt.class
target/classes/cn/work/quartz/
target/classes/cn/work/service/ExcelService.class
target/classes/cn/work/service/Impl/ExcelServiceImpl.class
target/classes/cn/work/shiro/
target/classes/cn/work/spring/config/InitConfig.class
target/classes/cn/work/spring/config/JobFactory.class
target/classes/cn/work/spring/config/LibraryConfig.class
target/classes/cn/work/spring/config/SchedulerConfig.class
target/classes/cn/work/spring/config/ShiroConfiguration.class
target/classes/cn/work/util/WebUtil.class
target/classes/ehcache.xml
target/classes/mapper/BooktypeMapper.xml
target/classes/mapper/BorrowedbooksMapper.xml
target/classes/mapper/InventoryMapper.xml
target/classes/static/
target/generated-sources/
target/generated-test-sources/
target/libraryOs.jar
target/libraryOs.jar.original
target/maven-archiver/
target/maven-status/maven-compiler-plugin/testCompile/
target/test-classes/
"\345\233\276\344\271\246\346\250\241\346\235\277.xls"
"\345\233\276\344\271\246\346\250\241\346\235\277\345\216\237\345\275\242.xls"
/图书模板.xls
/图书模板原形.xls
