<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <mappers>
        <mapper resource="mapper/AdminMapper.xml" />
        <mapper resource="mapper/BookMapper.xml" />
        <mapper resource="mapper/BorrowMapper.xml" />
        <mapper resource="mapper/TicketMapper.xml" />
        <mapper resource="mapper/UserinfoMapper.xml" />
        <mapper resource="mapper/UserMapper.xml" />
        <mapper resource="mapper/BorrowedbooksMapper.xml"/>
        <mapper resource="mapper/BooktypeMapper.xml"/>
        <mapper resource="mapper/InventoryMapper.xml"/>
    </mappers>
</configuration>